/* Adjust this to be higher than a tablet width */

@media only screen and (min-width: 1024px) {
:root {
    --h1-special: 3.5rem;
    --h1-lg: 3rem;
    --h2-special:
    --h2-lg: 2rem
}
/* Removing Mobile Layout */
.app-container {
    display: none;
}
.desktop-container {
    background-color: var(--raisin-black);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.p1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.p2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.p3 {
    grid-row: 2 / 3;
    grid-column: 1/2;
}
.p4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.p5 {
    display: none;
}
.p6 {
    display: none;
}



.desktop-container > button {
    position: absolute;
}
.right-button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Home  */

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container > h1 {
    color: var(--cultured);
    font-size: 3rem;
}
.home-container > h2 {
    color: var(--azure);
    font-size: 2rem;
}
.home-container > p {
    color: var(--manatee);
    font-weight: bolder;
    font-style: italic;
    font-size: 1rem;
}

/* About */

.about-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.about-container > h1 {
    color: var(--cultured);
    font-size: 1.5rem;
}
.about-container > p {
    font-weight: bolder;
    color: var(--manatee);
    font-size: .8rem;
}

/* Skills */

.skills-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-content > h1 {
    color: var(--cultured);
    font-size: 1.5rem;
}
.skill-content > p {
    color: var(--manatee);
    font-weight: bolder;
    font-style: italic;
    font-size: .9rem;
}
.skill-content > h2 {
    font-size: 1rem;
}


/* Projects */
.projects-container {
    height: 100%;
    width: 100%;
}
.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--cultured);
    opacity: 50%;
}
.prev {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.next {
    position: relative;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}

/* Project */

.project-container {
    height: 100%;
    width: 100%;
}
.info-card {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}
.info-card-left {
    padding: 0 20px;
}
.info-card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
