/* Adjust this to be higher than a tablet width */

@media only screen and (min-width: 1024px) {

/* Removing Mobile Layout */
.app-container {
    display: none;
}
.desktop-container {
    background-color: var(--raisin-black);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* .section1 {
    background-color: red;
}
.section2 {
    background-color: blue;
}
.section3 {
    background-color: yellow;
}
.section4 {
    background-color: green;
}
.section5 {
    background-color: black;
}
.section6 {
    background-color: white;
} */
.p1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.p2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.p3 {
    grid-row: 2 / 3;
    grid-column: 1/2;
}
.p4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.p5 {
    display: none;
}
.p6 {
    display: none;
}



.desktop-container > button {
    position: absolute;
}
.right-button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Home  */

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container > h1 {
    color: var(--cultured);
    font-size: 3.5rem;
}
.home-container > h2 {
    color: var(--azure);
    font-size: 2.5rem;
}
.home-container > p {
    color: var(--manatee);
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5rem;
}

/* About */

.about-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
}
.about-container > h1 {
    color: var(--cultured);
    font-size: 2rem;
}
.about-container > p {
    font-weight: bolder;
    color: var(--manatee);
    font-size: 1rem;
}

/* Skills */

.skills-container {
    height: 100%;
    width: 100%;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Projects */
.projects-container {
    height: 100%;
    width: 100%;
}
.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--cultured);
    opacity: 50%;
}
.prev {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.next {
    position: relative;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}

/* Project */

.project-container {
    height: 100%;
    width: 100%;
    padding: 0 15%;
}
.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}
